<div class="container-lg">
<p>PDFSplit is a tool to combine, split and slice multiple pdfs by a given expression. The Help page gives information about how expressions can be formed.</p>

@for (pdf of getPDFs(); track $index) {
    <p>
        <strong>{{$index+1}}: </strong><i>{{pdf.getTitle()}} ({{pdf.getPageCount()}} pages)</i>
        <button type="button" class="btn btn-outline-danger pt-1 pb-1 pe-2 ps-2 ms-2" style="font-size: 10px;" (click)="removePDF(pdf)">X</button>
    </p>
}

<input type="file" class="form-control" style="max-width: 500px;" (change)="onFileSelect($event)" multiple>
<input type="text" class="form-control mt-3" placeholder="Expression" [(ngModel)]="expression">
<button type="button" class="btn btn-primary mt-3" (click)="generate()">Generate</button>
<div class="mt-3">
@for (err of parseErr; track $index) {
    <p>{{err.toString()}}</p>
}
<p>{{getError()}}</p>
</div>
</div>